@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
// @import "_mixins/font-face";


@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
// @include foundation-typography;
// @include foundation-button;
// @include foundation-forms;
// @include foundation-range-input;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-card;
// @include foundation-close-button;
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-responsive-embed;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;
@import "fonts";

// HELPERS
.hero {
  font-family: 'Breuer Headline Oblique';
}
.breuer-text {
  font-family: 'BreuerText-Bold';
}

.breuer-text-italic {
  font-family: 'breuertext-bolditalic-webfont';
}

.lato-text {
  font-family: 'LatoLatin-Regular', sans-serif;
}

.lato-text-bold {
  font-family: 'LatoLatin-Bold', sans-serif;
}
.color-white {color: #fff;}
.color-yellow {color: #ffcd00;}
.hidden-text {opacity: 0;}
.hidden-text.animate {opacity: 1;}
// MOBILE STYLE START;

.container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.top-section {
  position: relative;
  height: 182px;
  background: url(../img/Mobile_Background2.jpg) no-repeat center;
  background-size: cover;
  z-index: -1;
  &::after {
    content: "";
    display: inline-block;
    height: 24px;
    width: 100%;
    position: absolute;
    background-color: #fff;
    bottom: -14px;
    right: 0;
    transform: skewY(-3deg);
  }
  .top-links {
    text-align: justify;
    padding: 10px 5px;
    div {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      &.main-logo {
        max-width: 32%;
      }
      &.already-customer-link {
        a {
          display: inline-block;
          vertical-align: middle;
          font-size: 9px;
          text-transform: uppercase;
          color: #fff;
          font-family: 'LatoLatin-Regular', sans-serif;
          line-height: 1;
          text-shadow: 0px 1px 2px #064780;
        }

      }
      .arrow {
        max-height: 11px;
        display: inline-block;
        vertical-align: middle;
      }
      span {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        font-size: 13px;
        margin-left: -1px;
      }
    }
    &::after {
      content: "";
      display: inline-block;
      width: 100%;
    }
  }

}

.content {
  background: linear-gradient( #fff, #d8d8d8);
  position: relative;
  .badge {
    top: -70px;
    position: absolute;
    background: linear-gradient(to right, #184f77, #2f8ab7);
    border: solid 3px #ffcc00;
    height: 105px;
    width: 105px;
    border-radius: 50%;

    @include horizontal-center;
    span {
      display: block;
      &.date {
        @include absolute-center;
        font-size: 48px;
        font-family: 'Breuer Headline Oblique', sans-serif;
        color: #ffcc00;
        line-height: 0;
        margin-top: -2px;
      }
    }
  }
  .main-text {

    position: relative;
    text-transform: uppercase;
    margin-top: 36px;
    text-align: center;
    .new-customer-offer {
      display: inline-block;
      background: linear-gradient(to right, #184f77, #2f8ab7);
      transform: skewX(-10deg);
      padding: 3px 6px;
      line-height: 1;
      font-size: 11px;
    }
    .title {
      h1 {
        margin: 0;
        font-size: 34px;
        line-height: 28px;
        span {
          display: block;
          &:last-child {
            font-size: 20px;
            line-height: 18px;
          }
        }
    background-image: -webkit-linear-gradient(left, #184f77, #2e89b6);
    background-image: -moz-linear-gradient(left, #184f77, #2e89b6);
    background-image: -ms-linear-gradient(left, #184f77, #2e89b6);
    background-image: -o-linear-gradient(left, #184f77, #2e89b6);
    background-image: linear-gradient(to right, #184f77, #2e89b6);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
      }
    }
    .description {
      padding: 0px 5px 5px;
      margin-top: 5px;
      text-align: center;
      position: relative;
      display: inline-block;
      transform: skewX(-5deg);
      background: linear-gradient(to right, #184f77, #2f8ab7);
      .one {
        font-size: 12px;
        line-height: 1;
        margin: 5px 0;
      }
      .two {
        font-size: 14px;
        line-height: 1;
      }
      .three {
        font-size: 10px;
        line-height: 1;
      }
    }
    .forms {
      position: relative;
      z-index: 2;
      input {
        background: linear-gradient( #d7d7d7, #fff);
        padding: 5px 0px 5px 5px;
        border: solid 1px silver;
        box-shadow: none;
        max-width: 160px;
        font-size: 12px;
      }
      button {
        display: inline-block;
        text-transform: uppercase;
        font-size: 21px;
        padding: 12px 30px;
        background-color: #61c900;
        transform: skewX(-10deg);
        span {
          display: inline-block;
          vertical-align: middle;
          &:last-child {
            letter-spacing: -2px;
            font-size: 22px;
          }
        }
      }
      p {
        font-size: 8px;
        text-transform: none;
        margin-top: 5px;
        line-height: 1;
      }
    }
  }
}

.steps-register {
  margin-top: -32px;
  position: relative;
  padding: 50px 0 40px;
  z-index: 1;
  background: linear-gradient(to right, #184f77, #2f8ab7);
  text-transform: uppercase;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 35px;
    background: linear-gradient(to right, #184f77, #2f8ab7);
    top: -14px;
    right: 0;
    transform: skewY(-3deg);
  }
  .step {
    margin-bottom: 16px;
    padding-left: 12px;
    .inner {
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      .bord {
      text-decoration: underline;
      }
      &:last-child {
        span {
          display: block;
          line-height: 15px;
        }
      }
      &:first-child {
        margin-right: 16px;
        text-align: center;
        font-size: 22px;
        width: 34px;
        height: 34px;
        border: solid 2px #ffcd00;
        color: #ffcd00;
        border-radius: 50%;
        line-height: 32px;
        font-family: 'LatoLatin-Regular', sans-serif;
      }
    }
  }
}

.terms-conditions {
  text-align: center;
  padding: 35px 0;
  position: relative;
  background-color: #054179;
  color: #7695b1;
  .terms {
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
    a {
      color: #7695b1;
      text-decoration: none;
    }
  }
  .hidden-text {
    position: relative;
    margin-top: 30px;
    padding: 0 5px;
  }
}
// MOBILE STYLE END;
// ----------------------------

// TABLET STYLE START

@include breakpoint (medium) {
  .top-section {
    background: url(../img/Tablet_Background1.jpg) no-repeat center;
    height: 328px;
    background-size: cover;
    &::after {
      height: 45px;
      bottom: -23px;
    }
    .top-links {
      padding: 16px 14px;
      div {
        &.main-logo {
          max-width: 135px;
        }
        &.already-customer-link {
          a {
            font-size: 12px;
          }
        }
        .arrow {
          max-height: 14px;
        }
      }
    }
  }


.content {
  background: linear-gradient( #fff, #d3d3d3);
  .prel {position: relative;min-height: 530px;}
  .badge {
    position: relative;
    top: 82px;
    left: 10px;
    border: solid 7px #ffcc00;
    height: 236px;
    width: 236px;
    transform: none;
    span {
      &.date {
        font-size: 108px;
      }
      &.was-date {
        text-align: center;
        margin-top: 24px;
        line-height: 1;
        font-size: 35px;
        font-family: 'Breuer Headline Oblique', sans-serif;
        color: #fff;
      }
    }
  }
  .main-text {
    z-index: 10;
    position: absolute;
    transform: skewX(-8deg);
    right: -20px;
    top: 0;
    margin-top: 36px;
    text-align: left;
    .new-customer-offer {
      margin-left: 12px;
      transform: skewX(-5deg);
      padding: 8px 12px;
      line-height: 1;
      font-size: 24px;
    }
    .title {

      h1 {
        padding: 0 5px;
        margin-top: 10px;
        font-size: 72px;
        line-height: 60px;
        span {
          display: block;
          span {
            display: inline-block;
          }
          &:last-child {
            font-size: 65px;
            line-height: 54px;
          }
        }
      }
    }
    .description {
      text-align: left;
      padding: 0px 50px 5px 8px;
      transform: skewX(-5deg);
      .one {
        font-size: 22px;
      }
      .two {
        font-size: 22px;
      }
      .three {
        font-size: 16px;
      }
    }
    .forms {
      transform: skewX(8deg);
      input {
        margin-top: 5px;
        margin-left: 8px;
        padding: 10px 0px 10px 10px;
        width: 250px;
        max-width: 100%;
        font-size: 18px;
      }
      button {
        margin-left: -20px;
        font-size: 34px;
        padding: 12px 40px 16px;
        transform: skewX(-12deg);
        span {
          display: inline-block;
          vertical-align: middle;
          &:last-child {
            letter-spacing: -4px;
            font-size: 32px;
          }
        }
      }
      p {
        padding-left: 30px;
        font-size: 14px;
        color: #184e76;
      }
    }
  }
}

.steps-register {
  margin-top: -32px;
  position: relative;
  padding: 60px 0 35px;
  z-index: 1;
  background: linear-gradient(to right, #184f77, #2f8ab7);
  text-transform: uppercase;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 42px;
    background: linear-gradient(to right, #184f77, #2f8ab7);
    top: -21px;
    right: 0;
    transform: skewY(-3deg);
  }
  .step {
    padding-left: 75px;
    .inner {
      font-size: 16px;
      .bord {
      text-decoration: none;
      color: #fff;
      }
      &:last-child {
        span {
          display: inline-block;
          line-height: 21px;
        }
      }
      &:first-child {
        margin-right: 10px;
        font-size: 30px;
        width: 45px;
        height: 45px;
        line-height: 42px;
      }
    }
  }
}

.terms-conditions {
  padding: 35px 0 25px 0;
  .terms {
    text-align: center;
    margin-bottom: 2px;
    line-height: 1;
  }
  .hidden-text {
    position: relative;
    margin-top: 20px;
    padding: 0 15px;
  }
}

}

// LARGE
@include breakpoint (large) {
  .top-section {
    height: 500px;
    &::after {
      height: 70px;
      bottom: -40px;
    }
  }
  .content {
    .main-text {
      right: 50px;
    }
    .badge {
      left: 0;
    }
  }
  .steps-register {
    &::before {
      height: 70px;
      top: -30px;
    }
  }
}

// TABLET STYLE END
// ------------------------

// DESKTOP STYLE START
@include breakpoint (xlarge) {
.top-section {
  position:absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  background: none;
  z-index: 1;
  &::after {
    content: none;
  }
  .top-links {
    padding: 22px 30px;
    div {
      &.main-logo {
        max-width: 190px;
      }
      &.already-customer-link {
        a {
          font-size: 14px;
          color: #41494e;
          text-shadow: none;
        }
      }
      span {
        color: #41494e;
        margin-left: 15px;
        font-size: 16px;
      }
    }
  }
}

.content {
  background: #f2f2f2;
  .large-cont {
    position: relative;
    .dib {
      display: inline-block;
    }
    .grafics {
      position: absolute;
      right: -20%;
      @include vertical-center;
      width: 100%;
      top: 40%;
      img {
        z-index: 1;
      }
    }
    .bg-1 {
       &::after {
        content: "";
        display: inline-block;
        position: absolute;
        right: -100px;
        top: 0;
        width: 44%;
        height: 100%;
        transform: skewX(-9deg);
        background: #f2f2f2;
      }
    }
  }
  .main-text {
    z-index: 10;
    position: relative;
    right: auto;
    padding-left: 30px;
    margin-top: 25%;
    .new-customer-offer {
      font-size: 36px;
    }
    .title {
      h1 {
        font-size: 80px;
        line-height: 65px;
        span {
          display: block;
          &:last-child {
            font-size: 46px;
            line-height: 50px;
          }
        }
      }
    }
    .description {
      right: 0;
      padding: 0px 5px 5px;
      position: relative;
      display: inline-block;
      .one {
        font-size: 22px;
        line-height: 1.2;
        margin: 5px 0;
      }
      .two {
        font-size: 22px;
        line-height: 1.2;
      }
      .three {
        font-size: 18px;
        line-height: 1.2;
        font-family: 'LatoLatin-Regular', sans-serif;
      }
    }
    .forms {
      position: relative;
      z-index: 2;
      input {
        background: linear-gradient( #d7d7d7, #fff);
        padding: 12px 0px 12px 5px;
        border: solid 1px silver;
        box-shadow: none;
        width: 280px;
        margin-left: 5px;
        margin-top: 15px;
        font-size: 22px;
      }
      button {
        margin-left: 0;
        margin-top: 18px;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
          transform: matrix(1.2, 0, -0.3, 1.2, 0, -0.3);
        }
      }
      p {
        font-size: 8px;
        text-transform: none;
        margin-top: 5px;
        line-height: 1;
      }
    }
  }
}
.desclimer {
  position: relative;
  p {
    display: inline-block;
    position: absolute;
    width: 70%;
    font-size: 8px;
    top: -22px;
    text-align: right;
    right: 10px;
    @include breakpoint(xxlarge) {
      font-size: 12px;
      right: 5px;
      top: -30px;
    }
  }
}
.steps-register {
  background: none;
  margin: 0;
  position: relative;
  padding:  0;
  z-index: 1;
  &::before {
    content: none;
  }
  .step {
    position: relative;
    border-color: transparent;
    margin-bottom: 0;
    padding: 13px 0;
    text-align: center;
    cursor: pointer;
    &:hover {
      .inner:first-child {
        animation-name: pulse;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
      }
    }
    &.step1 {
      background-color: #184e76;
    }
    &.step2 {
      background-color: #236b96;
      &::before {
        content: "";
        display: inline-block;
        line-height: 0;
        top: 0;
        left: -1px;
        position: absolute;
        @include css-triangle(36px, #184e76, right);
      }
      &::after {
        content: "";
        display: inline-block;
        line-height: 0;
        top: 0;
        right: -35px;
        z-index: 1;
        position: absolute;
        @include css-triangle(36px, #236b96, right);
      }
    }
    &.step3 {
      background-color: #2f8bb8;
    }
    .inner {
      text-align: left;
      font-size: 16px;
      &:last-child {
        span {
          display: block;
          line-height: 20px;
        }
      }
      &:first-child {
        font-size: 32px;
        width: 45px;
        height: 45px;
        color: #ffcd00;
        line-height: 1.4;
      }
    }
  }
}
}
// DESKTOP STYLE END

// ANIMATIONS
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
    border-color: #ffcd00;
    color: #ffcd00;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
    border-color: #61c900;
    color: #61c900;
  }

  to {
    transform: scale3d(1, 1, 1);
    border-color: yellow;
    color: #ffcd00;
  }
}



.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}





















// MOBILE STYLE END
